.login-container{
  background-color: rgb(133, 133, 133);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.login-card-container{
  /* width: 90%; */
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

