.login-container{
  background-color: rgb(133, 133, 133);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.login-card-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

/* === MEDIA QUERIES === */
@media (max-width: 768px) {
  .login-container{
    height: auto;
    bottom: 0;
    overflow-y: auto;
  }

  .login-card-container{
    margin-top: 0;
    height: auto;
    flex-direction: column;
  }
}