.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.product-details-container{
  
  display: flex;
  flex-direction: row;
  margin: 3rem auto 6rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-details-image-container{
  /* flex: 1 1 300px; */
  max-width: 300px;
}

.product-details-back-link{
  display: block;
  max-width: 300px;
  /* margin: 3rem 0 0 10vw; */
}

.product-details-image{
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.product-info-container{
  /* flex: 2 1 400px; */
  display: flex;
  flex-direction: column;
 
}

.product-info-name,
.product-info-price,
.product-info-description{
  margin-bottom: 2rem;
}

.product-info-price{
  font-size: 1.25rem;
  font-weight: bold;
  color: hsla(95, 66%, 27%, 0.99);
  text-align: center;
}

.product-info-description{
  color: #a2a1a1;
  text-align: center;
}

.product-info-qty{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 1rem auto;
  margin-bottom: 2.5rem;
  
}

.product-info-btn{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(74, 137, 28, 0.99);
  color: white;
  border: none;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  max-width: 400px;
}

.product-info-btn:hover{
  background-color: hsla(95, 66%, 27%, 0.99);
}

.product-info-qty-count{
  min-width: 30px;
  text-align: center;
  font-weight: bold;
}