.cartTable-empty-container{
  width: 86vw;
  margin: 15rem auto;
  text-align: center;
}

.cartTable-empty-container h2{
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.cartTable-empty-container .btn{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: rgba(74, 137, 28, 0.99);
  border: none;
}

.cartTable-empty-container .btn:hover{
  background-color: hsla(95, 66%, 27%, 0.99);
}

.cartTotals-container{
  width: 50%;
  margin-left: auto;
  text-align: left;
  font-size: 25px;
  border: 1px solid #ddd;
}

.cartTotals-title{
  font-size: 2.35rem;
  margin: 20px;
  text-align: left;
  border: 1px solid #ddd
}

.cartTotals-cta-button{
  background-color: rgba(74, 137, 28, 0.99);
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  width: 100%;
  font-weight: 300;
}

.cartTotals-cta-link{
  color: white;
  text-decoration: none; 
}

.cartTotals-mobile{
  display: none;
}

/* === MEDIA QUERIES === */
@media (max-width: 768px) {
  .cartTable-empty-container h2{
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }

  .cartTotals-desktop{
    display: none;
  }

  .cartTotals-mobile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px 2vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

  .cartTotals-mobile-subtotal-wrap{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .cartTotals-mobile-subtotal{
    font-size: 20px;
    font-weight: 600;
  }

  .cartTotals-mobile-btn{
    background-color: rgba(74, 137, 28, 0.99);
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 300;
  }

  .cartTotals-mobile-link{
    color: white;
    text-decoration: none;
  }
}