.homeHeroText-container{
  height: 90%;
  padding: auto;
}

.homeHeroText-container .homeHeroText-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -50px;
}

.homeHeroText-container p{
  color: white;
}

.homeHeroText-intro{
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 4px;
}

.homeHeroText-title{
  text-align: center;
  font-size: 70px;
  margin: 20px;
}

.homeHeroTitle-desktop{
  display: block;
  text-align: center;
}

.homeHeroText-wrap a{
  color: white;
  text-decoration: none;
  background-color: rgba(74, 137, 28, 0.99);
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 300;
}

.homeHeroText-wrap a:hover{
  background-color: hsla(95, 66%, 27%, 0.99);
}

/* === MEDIA QUERIES === */
@media (max-width: 768px) {

  .homeHeroText-intro{
    font-size: 20px;
    letter-spacing: 2px;
  }

  .homeHeroText-title{
    font-size: 40px;
    margin: 23px;
  }

  .homeHeroTitle-mobile{
    display: block;
  }

  .homeHeroTitle-desktop{
    display: inline;
  }
} 