.displayProduct-container{
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.displayProduct-title{
  font-size: 3rem;
  font-weight: 400;
}

.displayProduct-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
}

.displayProduct-item{
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.displayProduct-image-container{
  position: relative;
}

.displayProduct-image{
  width: 100%;
}

.displayProduct-cart-container{
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px;
  right: 18px;
  gap: 10px;
}

.displayProduct-cart-tooltip{
  background-color: #222;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  position: relative;
  display: none;
}

.displayProduct-cart-tooltip::after{
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #222;
}

.displayProduct-image-cart{

  font-size: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  display: none;
}

.displayProduct-image-container:hover 
.displayProduct-image-cart{
  display: block;
}

.displayProduct-cart-container:hover 
.displayProduct-cart-tooltip{
  display: block;
}

.displayProduct-description{
  margin: 8px;
}

.displayProduct-stars{
  margin-left: -3px;
}

.displayProduct-name{
  margin-top: 5px;
}

.displayProduct-type{
  margin-top: 5px;
  font-size: 14px;
  color: #979292;
  font-weight: 300;
}

.displayProduct-price{
  margin-top: 5px;
  font-size: 15px;
}

/* === MEDIA QUERIES === */
@media (max-width: 768px) {
  .displayProduct-container{
    margin-top: 3.5rem;
  }

  .displayProduct-title{
    font-size: 2rem;
  }

  .displayProduct-grid{
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    row-gap: 20px;
  }

  .displayProduct-cart-container:hover 
  .displayProduct-cart-tooltip{
    display: none;
  }
} 