.shopProduct-container{
  width: 80vw;
  margin: 100px auto 80px;
}

.shopProduct-select-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.shopProduct-count{
  color: #747171;
  font-weight: 300;
  font-size: 16px;
}

.shopProduct-select{
  padding: 10px 8px;
  font-size: 16px;
  border: none;
  color: #747171;
}

.shopProduct-select:hover,
.shopProduct-select:focus{
  outline: none;
  border: 1px dotted #747171;
}

.addtocart-notification{
  position: fixed;
  background-color: rgba(74, 137, 28, 0.99);
  color: white;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;
  z-index: 101;
  text-align: center;
}

.addtocart-notification-close{
  border: 1px solid white;
  vertical-align: middle;
  margin-left: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.addtocart-notification-close{}

/* === MEDIA QUERIES === */
@media (max-width: 768px) {
  .shopProduct-select-container{
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .shopProduct-select{
    width: 100%;
    border: 1px dotted #747171;
  }
}